@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Rubik:wght@500&display=swap");

// @font-face {
// 	font-family: 'ComputerPixel7';
// 	src: url('/fonts/ComputerPixel7.ttf') format('truetype');
// }

$wrapper-gutter: 20px;
$wrapper-width: 1200px;

// note: hex to filter reference - https://stackoverflow.com/a/53336754 + https://isotropic.co/tool/hex-color-to-css-filter/ OR https://codepen.io/sosuke/pen/Pjoqqp

$black-hex: #000000;
$black: 0, 0, 0;
$black-filter: invert(0%) sepia(82%) saturate(7429%) hue-rotate(43deg) brightness(112%) contrast(114%);
$blue-hex: #689FFE;
$blue: 104, 159, 254;
$blue-filter: invert(71%) sepia(91%) saturate(3409%) hue-rotate(193deg) brightness(101%) contrast(99%);
$green-hex: #20D474;
$green: 32, 212, 116;
$green-filter: invert(60%) sepia(100%) saturate(347%) hue-rotate(95deg) brightness(91%) contrast(97%);
$orange-hex: #FEA068;
$orange: 254, 160, 104;
$orange-filter: invert(64%) sepia(49%) saturate(552%) hue-rotate(332deg) brightness(103%) contrast(99%);
$red-hex: #E5286D;
$red: 229, 40, 109;
$red-filter: invert(25%) sepia(84%) saturate(3623%) hue-rotate(324deg) brightness(94%) contrast(91%);
$white-hex: #fff;
$white: 255, 255, 255;
$white-filter: invert(100%) sepia(77%) saturate(0%) hue-rotate(69deg) brightness(113%) contrast(101%);
$yellow-hex: #F3BD3D;
$yellow: 243, 189, 61;
$yellow-filter: invert(81%) sepia(75%) saturate(800%) hue-rotate(327deg) brightness(101%) contrast(91%);

$bp-sm: 640px;
$bp-md: 800px;
$bp-lg: 1024px;
$bp-xl: 1280px;

$ff-base: 'DM Sans';
$ff-alpha: 'DM Sans';
$ff-style: 'DM Sans';
$ff-custom: 'DM Sans';

// $white-box-shadow: 0 0 50px -20px rgba($white-hex, 0.2);
// $white-drop-shadow: 0 0 50px rgba($white-hex, 0.2);
// $box-shadow: 0 0 30px -5px rgba($black-hex, 0.2);
// $drop-shadow: 0 0 50px rgba($black-hex, 0.2);
// $white-box-shadow-heavy: 0 0 100px 10px rgba($white-hex, 0.8);
// $box-shadow-heavy: 0 0 100px 10px rgba($black-hex, 0.8);

$zi-window: 10;
